@model Portfolio_Krypto.Models.TokenExpanded

@{
    ViewData["Title"] = "Details";
}
<style>
    dd {
        color: white
    }

    h1 {
        color: white
    }

    dt {
        color: White
    }

    a {
        color: whitesmoke
    }
</style>

<h1>Wiecej informacji</h1>
<div class="tiles">

    <div class="tiles-item">
        <h4>
            @Html.DisplayFor(model => model.tokenName)
            <img src=@Html.DisplayFor(model=>model.image) width="50" ,height="50">

        </h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Data zakupu
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.date_buy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.price_buy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.price_buy)$
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.current_price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.current_price)$
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.amount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.profit)
            </dt>
            <dd class="col-sm-10">
                @if (Model.profit > 0)
                {
                    <span style="color:green">@Html.DisplayFor(model => model.profit)%</span>
                    <br />
                    @Html.DisplayFor(model => model.worth)

                }
                else
                {
                    <span style="color:red">@Html.DisplayFor(model => model.profit)%</span>
                    <br />
                    @Html.DisplayFor(model => model.worth)
                }
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

