@model Portfolio_Krypto.Models.Token

@{
    ViewData["Title"] = "Delete";
}

<h3>Czy jesteś pewny że chcesz usunąć?</h3>
<div>
    <h2>@Html.DisplayFor(model => model.tokenName)</h2>
    <dl class="row">
        <dt class="col-sm-2">
            Data zakupu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_buy)
        </dd>
        <dt class="col-sm-2">
            Cena kupna
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price_buy)
        </dd>
        <dt class="col-sm-2">
            Ilość tokenów
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Tak" class="btn btn-danger" /> |
        <a class="btn btn-success" asp-action="Details" asp-route-name="@Model.tokenName">Nie</a>
    </form>
</div>
