@model Portfolio_Krypto.Models.TokenExpanded

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Token</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tokenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tokenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_buy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_buy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_buy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_buy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
