@model IEnumerable<Portfolio_Krypto.Models.TokenExpanded>


@{
    ViewData["Title"] = "Details";
}


<h1>Wiecej informacji</h1>
<h2>
    <img src=@Model.First().image width="50" ,height="50">
    @Model.First().tokenName @Model.First().current_price $

</h2>
    <div class="tiles">
        @foreach (var item in Model)
        {
        <div class="tiles-item">
            <div class="dana">
                <dl>
                    <dt class="col-sm">Data zakupu </dt>
                    <dd class="col-1">
                        @Html.DisplayFor(modelItem => item.date_buy)
                    </dd>
                </dl>
            </div>
            <div class="dana">
                <dl>
                    <dt class="col-sm"> Cena kupna</dt>
                    <dd class="col-1">
                        @Html.DisplayFor(modelItem => item.price_buy)$
                    </dd>
                </dl>
            </div>
            <div class="dana">
                <dl>
                    <dt class="col-sm"> Ilość tokenu</dt>
                    <dd class="col-1">
                        @Html.DisplayFor(modelItem => item.amount)
                    </dd>
                </dl>
            </div>
            <div class="dana">
                <dl>
                    <dt class="col-sm">Wartość</dt>
                    <dd class="col-1">
                        @Html.DisplayFor(modelItem => item.worth)$
                    </dd>
                </dl>
            </div>
            <div class="dana">
                <dl>
                    <dt class="col-sm"> Profit</dt>
                    <dd class="col-1">
                        @if (item.profit > 0)
                        {
                            <span style="color:green">@Html.DisplayFor(modelItem => item.profit)%</span>

                        }
                        else
                        {
                            <span style="color:red">@Html.DisplayFor(modelItem => item.profit)% </span>
                        }
                    </dd>
                </dl>
            </div>
            <div class="dana">
                <a class="text-light" asp-action="Edit" asp-route-id="@item.id"> Edit</a>
            </div>
        </div>

        }
    </div>
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.id">Edit</a>*@ |
        <a asp-action="Index">Back to List</a>
    </div>
