@model IEnumerable<Portfolio_Krypto.Models.TokenExpanded>

@{
    ViewData["Title"] = "Index";
}

<h1>Twoje Tokeny</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create" >Dodaj</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                Token
            </th>
            <th>
                Wartosc
            </th>
            <th>
                Posiadane tokeny
            </th>
            <th>
                Obecna cena
            </th>
            <th>
                Profit
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <img src=@Html.DisplayFor(ModelItem=>item.image) width="30" ,height="30">
                <a class="text-light" asp-action="Details" asp-route-name="@item.tokenName"> @Html.DisplayFor(modelItem => item.tokenName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.worth_current)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.current_price)
            </td>
            <td>
                @if (item.profit > 0)
                {
                    <span style="color:green">@Html.DisplayFor(modelItem => item.profit)%</span>

                }
                else
                {
                    <span style="color:red">@Html.DisplayFor(modelItem => item.profit)% </span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
